# Python
__pycache__/
*.pyc
*.pyo
*.pyd
*.sqlite-journal
*.db-journal
.env
.venv/
venv/

# macOS
.DS_Store

# Vercel / build
.vercel/
.next/

# Render / build
.render/

# IDE / editor
.vscode/
.idea/
